<div  id="main" >
  <div class="container">
  <div class="row">
      <div class="col-md-5">
    <%= image_tag @athlete.image_url(:thumb).to_s, class: 'img-responsive' %>
  </div>
  <div class="col-md-7">
    <h1><%= @athlete.name %></h1>
    <h4>Sport: <%= @athlete.sport %> | Graduating: <%= @athlete.grad_date.strftime("%B, %Y") %></h4>
    <p class="lead"><%= @athlete.about %></p>

    <div class="row" id="gpa">
      <div class="col-md-12 text-center"><h3>High School GPA</h3></div>
      <div class="col-md-3 col-xs-6 text-center">
        <dt>Freshman</dt>
        <dd><%= @athlete.gpa_1 %></dd>
      </div>
      <div class="col-md-3 col-xs-6 text-center">
        <dt>Sophomore</dt>
        <dd><%= @athlete.gpa_2 %></dd>
      </div>
      <div class="col-md-3 col-xs-6 text-center">
        <dt>Junior</dt>
        <dd><%= @athlete.gpa_3 %></dd>
      </div>
      <div class="col-md-3 col-xs-6 text-center">
        <dt>Senior</dt>
        <dd><%= @athlete.gpa_4 %></dd>
      </div>
    </div>
  </div>
  </div>
</div></div>



<div id="lower">
<div class="container">
  <div class="row" id="athlete">
<!--     <div class="col-md-2">
      <h3>About</h3>
      <table class="table">
      <tr>
        <td>Age:</td>
        <td>47</td>
      </tr>
      <tr>
        <td>Weight:</td>
        <td>155 lbs</td>
      </tr>
      <tr>
        <td>Height:</td>
        <td>5' 5"</td>
      </tr>
      </table>
    </div> -->
    <div class="col-md-5" id="times">
      <h3>Times</h3>
      <table class="table">
      <tr>
        <td>100m Breaststroke</td>
        <td>55:00</td>
      </tr>
      <tr>
        <td>100m Butterfly</td>
        <td>52:00</td>
      </tr>
      <tr>
        <td>50m Freestyle</td>
        <td>21:00</td>
      </tr>
      <tr>
        <td>500m Freestyle</td>
        <td>4:44:30</td>
      </tr>
      </table>
      
    </div>
    <div class="col-md-7" id="records">
      <h3>Records/Awards</h3>
      <table class="table">
      <tr>
        <td>Meet Record</td>
        <td>Conference Meet - 2/12/13</td>
        <td>100m Breast</td>
        <td>55:12</td>

      </tr>
      <tr>
        <td>1st place</td>
        <td>State Meet - 2/20/13</td>
        <td>100m Breast</td>
        <td>55:12</td>
       
      </tr>
      <tr>
        <td>3rd place</td>
        <td>State Meet - 2/20/13</td>
        <td>50m Free</td>
        <td>21:12</td>
        
      </tr>

      </table>
    </div>

  </div>
  <div class="row" id="video">
    <div class="col-md-12" id="video-container">
      <%= raw @athlete.video_embed %>
    </div>
  </div>

</div>
</div>

<div id="footer"></div>