<!DOCTYPE html>
<html>
<head>
  <title>firstplace - get recruited</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container" id="header">
    <div class="row">
      <div class="col-md-10">
        <%= image_tag 'logo.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-2 text-right">
        <button class="btn btn-primary btn-block"><i class="fa fa-user"></i> My Account</button>
      </div>  
    </div>
  </div>

<%= yield %>

</body>
</html>
